.activeRoute {
  font-weight: bold;
  text-decoration: underline;
}
.navbarInverse {
    display: block;
    background-color: #222;
    border-color: #080808;
    overflow: hidden;
}
.navbarBrand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #9d9d9d;
}
